@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui" {
    themes: light --default;
}

@plugin "daisyui/theme" {
    name: "light";
    default: true;
    --color-primary: #CAEB66;
    --color-secondary: #606060;
}

html {
    @apply bg-base-300
}

/* a.active {
    @apply bg-primary
} */